@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fallback global si Tailwind ne compile pas */
html, body, #root {
  height: 100%;
  background: #0B0D12;
  color: #e5e7eb;
  font-family: 'Nunito', sans-serif;
}
