name : cryptopilot
services:
  # PostgreSQL Database
  db:
    image: postgres:15-alpine
    container_name: cryptopilot_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # Monter le dossier tables pour exécuter les scripts SQL au démarrage
      - ./tables:/docker-entrypoint-initdb.d:ro
    networks:
      - api-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s

  # Adminer - Simple Database Management
  adminer:
    image: adminer:latest
    container_name: cryptopilot_adminer
    restart: always
    ports:
      - '${ADMINER_PORT}:8080'
    depends_on:
      - db
    networks:
      - api-network

volumes:
  postgres_data:

networks:
  api-network:
    driver: bridge